 html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark {
  background: rgb(111,19,82);
  background: linear-gradient(90deg, rgba(111,19,82,1) 0%, rgba(72,31,124,1) 100%); 
}

.light {
    background:#deb7c7;
    background: linear-gradient(90deg, #deb7c7 0%, #97ace0 100%);
    
}

/* Toggle Dark Mode */
input:checked ~ .dot {
  transform: translateX(100%);
} 

input:-webkit-autofill
{
 -webkit-text-fill-color: black !important;
}
